* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    border-radius: 20px 20px 0% 0%;
}

h1 {
    width: 60%;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postsContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 20px;
    width: 60%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid wheat;
    height: fit-content;
    border-radius: 20px;
}

.card p,
.card h2 {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

@media only screen and (max-width: 700px) {
    .postsContainer {
        width: 95vw;
    }

    img {
        height: 250px;
    }
}